<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Produkt-Bundles und Rabattaktionen</label>
    <label lang="en">Product Bundles and Discounts</label>

    <version>1.0.0</version>
    <copyright>(c) by Freelance Junior GmbH</copyright>
    <license>proprietary</license>
    <link>https://freelancejunior.de</link>
    <author>Freelance Junior GmbH</author>
    <compatibility minVersion="5.3.0"/>
</plugin>