<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/menu.xsd">

    <entries>
        <entry>
            <name>FrejuBundles</name>
            <label lang="en">Product Bundles</label>
            <label lang="de">Produkt-Bundles</label>
            <controller>FrejuBundles</controller>
            <action>index</action>
            <class>sprite-article-sales</class>
            <parent identifiedBy="controller">Marketing</parent>
        </entry>
        <entry>
            <name>FrejuDiscounts</name>
            <label lang="en">Product Discounts</label>
            <label lang="de">Rabattaktionen</label>
            <controller>FrejuDiscounts</controller>
            <action>index</action>
            <class>sprite-money-coin</class>
            <parent identifiedBy="controller">Marketing</parent>
        </entry>
    </entries>
</menu>
