.freju--article__free-add-articles {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    &_images {
        display: flex;

        img {
            width: 100px;
            height: 100px;
            border-radius: 50px;
            object-fit: cover;
            z-index: 1;
            border: 2px solid #ebebeb;
        }

        a {
            &:not(:first-child) {
                margin-left: -50px;
            }
        }
    }

    label {
        background: #ebebeb;
        color: #292929;
        padding: 8px 12px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
        z-index: 2;
        margin-top: -20px;
        text-align: center;

        a {
            color: #292929;
            font-weight: 600;
        }

        &:before {
            content: "+ Gratis ";
        }
    }

    &.listing {
        top: 0px;
        left: 8px;
        transform: none;
        z-index: 999999999;
        max-width: 180px;

        .freju--article__free-add-articles_images {
            img {
                width: 50px;
                height: 50px;
            }

            a {
                &:not(:first-child) {
                    margin-left: -10px;
                }
            }
        }

        label {
            font-size: 12px;
            padding: 10px 12px;
        }
    }
}

.freju--discounts {
    margin-bottom: 16px;
    border-radius: 8px;
    overflow: hidden;

    &__discount {
        display: flex;
        flex-wrap: wrap;
        &_cell {
            width: 50%;
            font-size: 14px;
            padding: 12px 16px;
            background: #ebebeb;
            color: #292929;

            &:first-child, &:nth-child(2) {
                padding-top: 12px;
            }

            &:last-child, &:nth-last-child(2) {
                padding-bottom: 12px;
            }

            &:nth-child(2n) {
                text-align: right;
            }

            &.freeAddArticle, &.discount {
                background: #fcfcfc;
            }

            a {
                color: #292929;
                font-weight: 600;
            }
        }
    }
}

.freju--checkout__discount {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    margin: 12px 0;
    border: 2px solid rgba(57, 88, 154, 1);
    color: rgba(57, 88, 154, 1);
    font-size: 16px;
    font-weight: 600;
    background: rgba(57, 88, 154, 0.3);
    border-radius: 5px;

    &_value, &_name {
        width: 50%;
    }

    &_value {
        text-align: right;
    }

    &_description {
        width: 100%;
        margin-top: 12px;
        font-weight: 500;
    }
}

.freju--checkout__discount-labels {
    display: flex;
    flex-wrap: wrap;
    margin: 12px 0;

    &_label {
        background: rgba(57, 88, 154, 0.3);
        color: rgba(57, 88, 154, 1);
        padding: 4px 8px;
        border-radius: 4px;
        font-weight: 600;
        margin-right: 8px;
    }
}